<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
        <link rel="stylesheet" href="css/admin.css">
    </head>
    <body>
        <header>
            <nav class="navbar">
                <div class="navbar-inner">
                    <a class="brand">nodeQuiz</a>
                    <ul class="nav">
                        <li><a id="show-list-question">Lista de preguntas</a></li>
                        <li><a id="show-add-question">Nueva pregunta</a></li>
                    </ul>
                </div>
            </nav>
            
        </header>
        <article>
        </article>
    </body>
    <script type="text/template" id="edit-question-template">
        <form id="edit-question" class="form-horizontal">
            <div class="control-group">
                <label class="control-label" for="question">Pregunta</label>
                <div class="controls">
                  <textarea name="question" type="text"><%- question %></textarea>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="choice0">Opción 1</label>
                <div class="controls">
                  <input name="choice0" value="<%- choices[0] %>" type="text">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="choice1">Opción 2</label>
                <div class="controls">
                  <input name="choice1" value="<%- choices[1] %>" type="text">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="choice2">Opción 3</label>
                <div class="controls">
                  <input name="choice2" value="<%- choices[2] %>" type="text">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="choice3">Opción 4</label>
                <div class="controls">
                  <input name="choice3" value="<%- choices[3] %>" type="text">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="correct">Correcto</label>
                <div class="controls">
                  <select name="correct">
                    <option <%= correct == "0" ? "selected" : "" %> value=0>Opción 1</option>
                    <option <%= correct == "1" ? "selected" : "" %> value=1>Opción 2</option>
                    <option <%= correct == "2" ? "selected" : "" %> value=2>Opción 3</option>
                    <option <%= correct == "3" ? "selected" : "" %> value=3>Opción 4</option>
                  </select>          
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="category">Categoria</label>
                <div class="controls">
                  <select name="category">
                    <option value="others">Otros</option>
                    <option <%= category == "sports" ? "selected" : "" %> value="sports">Deportes</option></select>          
                </div>   
                </div>
            </div>
            <button type="submit" class="btn pull-right">Enviar</button>
        </form>      
    </script>
    <script type="text/template" id="question-list-template">
        <table class="table table-bordered">
            <thead>
                <th>Pregunta</th>
                <th class="hide-phone">Opción 1</th>
                <th class="hide-phone">Opción 2</th>
                <th class="hide-phone">Opción 3</th>
                <th class="hide-phone">Opción 4</th>
                <th class="hide-phone">Categoría</th>
                <th></th>
            </thead>
            <tbody></tbody>
    </script>
     <script type="text/template" id="list-item-template">
        <td><%- question %></td>
        <td class="hide-phone <%= correct == "0" ? 'success' : '' %>"><%- choices[0] %></td>
        <td class="hide-phone <%= correct == "1" ? 'success' : '' %>"><%- choices[1] %></td>
        <td class="hide-phone <%= correct == "2" ? 'success' : '' %>"><%- choices[2] %></td>
        <td class="hide-phone <%= correct == "3" ? 'success' : '' %>"><%- choices[3] %></td>
        <td class="hide-phone"><%- category %></td>
        <td class="actions">
            <ul class="show-edit-buttons">
                <li class="edit-action" data-id="<%- _id %>"><i class="icon icon-pencil"></i></li>
                <li class="delete-action" data-id="<%- _id %>"><i class="icon icon-trash"></i></li>
            </ul>
            <ul class="confirm-delete-buttons" style="display:none">
                <li class="confirm-delete-action" data-id="<%- _id %>">Eliminar</li>
                <li class="cancel-delete-action" data-id="<%- _id %>">Cancelar</li>
            </ul>
        </td>
     </script>
   
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.10/socket.io.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
    <script src="js/admin.debug.js"></script>
    
</html>