<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes">
        <link rel="stylesheet" href="css/indexRed.css">
    </head>
    <body>
        <header><img src="images/nodeQuizLogo.png" /></header>
        <article>
            <section>
                <form id="join-game">
                    Player name: <input type="text">
                   <input type="submit" value="Unirse">
                </form>
            </section>
        </article>
    </body>
    <script type="text/template" id="confirm-start">
            <section id="confirm-start-dialog">
                <button>Comenzar!</button>
            </section>
    </script>
    <script type="text/template" id="answer-template">
        <ul>
            <li class="question"><%- question %></li>
            <% _.each(choices, function(choice,index){ %>
                <li class="answer-option" data-option=<%- index %>><%- choice %></li>
            <% }); %>
        </ul>
    </script>
    <script type="text/template" id="modal-template">
        <p><%- message %></p>
    </script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.10/socket.io.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
    <script src="js/index.debug.js"></script>
    
</html>