<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="css/watchRed.css">
    </head>
    <body>
        <article></article>
    </body>
    <script type="text/template" id="waiting-to-play-template">
        <article id='waiting-player-list'>
        <article>        
    </script>
    <script type="text/template" id="waiting-player-template">
        <div class="option-char">-</div><div class="choice"><%- name %></div>  
    </script>
    <script type="text/template" id="question-template">
        <p class="question-box"><%- question %></p>
        <div id="timer">
            <span id="slider"></span>
        </div>
        <div class="choices">
            <% var arrayLetters = ["A", "B", "C", "D"]; %>
            <% _.each(choices, function(choice,index){ %>
                <div class="question-box"><div class="option-char"><%- arrayLetters[index] %></div><div class="choice"><%- choice %></div></div>
            <% }); %>
        </ul>        
    </script>
    <script type="text/template" id="rank-player-template">        
            <div class="player-info"><%- name %><span><%- points %></span></div>
            <div class="answer" ></div>
    </script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.10/socket.io.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore.js"></script>
    <script src="js/watch.debug.js"></script>
    
</html>