@import "compass/reset";
@import "compass/css3";

body
{
	font-family: 'Source Sans Pro', sans-serif;
	margin: 20px;
	form#edit-question
	{
		max-width: 400px;
		margin: auto;
	}
	form#filter-questions
	{
		margin-bottom: 30px;
	}
	#questions-loading span
	{
		padding: 5px;
		font-weight: bold;
		font-size: 14pt;
	}
	a
	{
		cursor: pointer;
	}
	td.success
	{
		background-color: #dff0d8;
	}
	td.actions ul li
	{
		cursor: pointer;
		padding: 5px;
		text-align: center;
		&.edit-action
		{
			background-color: rgb(249, 243, 125);
		}
		&.delete-action, &.confirm-delete-action
		{
			background-color: rgb(242, 172, 172);
		}
		&.cancel-delete-action
		{
			background-color: rgb(223, 240, 216);
		}

	}
}
@media screen and (max-width: 600px)
{
	.hide-phone
	{
		display: none;
	}
}  