@import "compass/reset";
@import "compass/css3";
$blue : #07A6DD;
$red: #CC0000;
$green: #99CC00;
$grey: #999999;
body
{
	font-size: 20pt;
	font-weight: bold;
	font-family: 'Source Sans Pro', sans-serif;
	color: $blue;
	#answer
	{
		ul
		{
			overflow: hidden;
			li
			{
				margin:1em;
				background: white;
				color: $blue;
				padding: 1em;
				border: 0.05em solid $blue;
				@include border-radius(1em);
				@include box-shadow(black 0.1em 0.1em 0.5em);
				&.answer-option
				{
					text-align:center;
				}
				&.question
				{
					background: $blue;
					color: white;
				}
			}
		}
	}
	#modal
	{
		p
		{
			margin:1em;
			background: $blue;
			color: white;
			padding: 1em;
			border: 0.05em solid $blue;
			@include border-radius(1em);
			@include box-shadow(black 0.1em 0.1em 0.5em);
			text-align: center;
		}
	}
}

@media screen and (max-width: 319px)
{
	body
	{
		font-size: 9pt
	}
} 

@media screen and (min-width: 320px) and (max-width: 420px)
{
	body
	{
		font-size: 11pt
	}
} 

@media screen and (min-width: 421px) and (max-width: 600px)
{
	body
	{
		font-size: 12pt
	}
} 

@media screen and (min-width: 601px)
{
	body
	{
		font-size: 14pt
	}
} 