@import "compass/reset";
@import "compass/css3";
$main : rgb(122,18,27);
$red: #CC0000;
$green: #99CC00;
$grey: #999999;
$white: rgb(230,230,230);
body
{
	font-size: 20pt;
	font-weight: bold;
	font-family: 'Source Sans Pro', sans-serif;
	color: $main;
	background: $white;
	header
	{
		height: 3.5em;
		background: $main; 
		border-bottom: 2px solid rgb(55,5,16);
		text-align:center;
		img
		{
			height: 100%;
		}
	}
	#answer
	{
		ul
		{
			overflow: hidden;
			li
			{
				background: $white;
				color: $main;
				padding: 1.5em;
				border-bottom: 1px solid rgb(195,195,195);
				
				&.answer-option
				{
					text-align:center;
				}
				&.question
				{
					background: $main;
					color: $white;
				}
			}
		}
	}
	#modal
	{
		p
		{
			margin:1em;
			background: $main;
			color: $white;
			padding: 1em;
			border: 0.05em solid $main;
			@include border-radius(1em);
			@include box-shadow(black 0.1em 0.1em 0.5em);
			text-align: center;
		}
	}
}

@media screen and (max-width: 319px)
{
	body
	{
		font-size: 9pt
	}
} 

@media screen and (min-width: 320px) and (max-width: 420px)
{
	body
	{
		font-size: 11pt
	}
} 

@media screen and (min-width: 421px) and (max-width: 600px)
{
	body
	{
		font-size: 12pt
	}
} 

@media screen and (min-width: 601px)
{
	body
	{
		font-size: 14pt
	}
} 