@import "compass/reset";
@import "compass/css3";
$blue : #07A6DD;
$red: #CC0000;
$green: #99CC00;
$grey: #999999;
body
{
	background: url('../images/watchbg.jpg') no-repeat; 
	@include background-size(cover);
	padding: 1em;
	font-size: 20pt;
	font-weight: bold;
	font-family: 'Source Sans Pro', sans-serif;
	color: $blue;
}
article
{
	overflow:hidden;

	section#waiting-to-play
	{
		p#header-message
		{
			text-align: center;
			color: white;
		}
		ul li
		{
			background-color: white;			
			border: 0.1em solid $blue;
			@include box-shadow(black 2px 2px 10px);
			@include background-image(radial-gradient(0px 60px, circle, $blue 30px, white 140px));
			margin-top:1em; 
			padding:0.5em;
			@include transition-duration(2s);
			@include transition-property(opacity);
			@include box-sizing(border-box);
			text-align: center;
			max-width: 60%;
			margin: 0.5em auto;
			&.ready
			{
				@include background-image(radial-gradient(0px 60px, circle, $green 30px, white 140px));
				border: 0.1em solid $green;
				color: $green;
			}
		}
	}
	section.question
	{
		@include box-sizing(border-box);
		width: 75%;
		float:left;
		padding: 10px;
		.question-box
		{
			background-color: white;			
			border: 0.1em solid $blue;
			@include box-shadow(black 2px 2px 10px);
		}

		p 
		{
			padding: 1em 3.5em 1em 1em;
			margin-bottom: 1.2em;
			background: url('../images/questionFooter.jpg');
			background-repeat:no-repeat;
			background-position: 100% 0%;
		}

		#timer
		{
			height: 0.5em;
			background: $blue;
			display: block;
			padding: 2px;
			margin-bottom: 1.2em;
			@include box-shadow(black 2px 2px 10px);
			span
			{
				background: white;
				margin: 0px;
				width: 100%;
				@include transition-property(width);
				@include transition-timing-function(linear);
				display: block;
				height: 100%;
			}
		}

		div.choices
		{
			div.question-box
			{
				@include background-image(radial-gradient(0px 60px, circle, $blue 30px, white 140px));
				margin-bottom:1.2em; 
				padding:0.5em;
				@include transition-duration(2s);
				@include transition-property(opacity);
				@include box-sizing(border-box);
				text-align: center;
				div.option-char
				{
					/*color: $white;
					padding: 0px 50px 0px 10px;
					float:left;*/
					color: rgb(255, 255, 255);
					padding: 0.5em 0.75em;
				}
				div.choice
				{
					color: $blue;
					@include box-flex(1);
					padding: 0.5em;
				}
				&.correct
				{
					@include background-image(radial-gradient(0px 60px, circle, $green 30px, white 140px));
					border: 0.1em solid $green;
					color: $green;

				}
				&.wrong
				{
					//@include background-image(radial-gradient(1% 90%, circle, $red 7%, white 7%));
					//border: 0.1em solid $red; 
					//color: $red;
					opacity: 0.1;
				} 				
			}
		}
	}

	section#rank
	{
		@include box-sizing(border-box);
		width: 25%;
		float:left;
		padding:10px;
		.rank-player
		{
			overflow:hidden;
			margin-bottom: 0.5em;
			position:relative;
			@include transition-duration(1.2s);
			@include transition-property(top);
			.answer
			{
				float: left;
				width: 10%;
				height: 1em;
				text-align: center;
				background: white;
				padding: 0.2em;
				border-width: 0.1em;
				border-style: solid; 
				@include box-shadow(black 2px 2px 10px);
				@include transition-duration(1s);
				@include transition-property(color,border-color);
				&.unknown
				{
					border-color: $grey;
					color: $grey
				}
				&.wrong
				{
					border-color:  $red;
					color: $red
				}
				&.correct
				{
					border-color:  $green;
					color: $green
				}
			}
			.player-info
			{
				float:right;
				width:75%;
				padding: 0.2em;
				background: white;
				border: 0.1em solid $blue;
				@include box-shadow(black 2px 2px 10px);
				span
				{
					float: right;
				}
			}
		}
	}
}

@media screen and (min-width: 1300px) and (max-width: 1600px)
{
	body
	{
		font-size: 24pt
	}
} 

@media screen and (min-width: 1601px) and (max-width: 1900px)
{
	body
	{
		font-size: 27pt
	}
} 

@media screen and (min-width: 1901px)
{
	body
	{
		font-size: 30pt
	}
} 