@import "compass/reset";
@import "compass/css3";
$main : rgb(122,28,17);
$red: #C1272D;
$green: #669900;
$grey: #FFBB33;
$white: rgb(230,230,230);
body
{
	background: url('../images/watchbgred.jpg') no-repeat; 
	@include background-size(cover);
	padding: 1em;
	font-size: 20pt;
	font-weight: bold;
	font-family: 'Source Sans Pro', sans-serif;
	color: $main;
}
.question-box
{
	background-color: $white;			
	@include box-shadow(black 2px 2px 10px);
	margin-bottom:1.2em; 
	@include transition-duration(2s);
	@include transition-property(opacity);
	@include display-box;
	display: flex;
	text-align: center;
	color: $main;
	div.option-char
	{
		background-color: $main;
		color: $white;
		padding: 0.5em 0.75em;
		position: relative;
		top: -10px;
		left: -10px;
		@include box-shadow(black 3px 3px 10px);
	}
	div.choice
	{					
		@include box-flex(1);
		padding: 0.5em;
	}
	&.correct 
	{
		color: $green;
		& div.option-char
		{
			background-color: $green;
		}

	}
	&.wrong
	{
		opacity: 0.1;
	} 	
}
article
{
	overflow:hidden;

	section#waiting-to-play
	{
		p#header-message
		{
			text-align: center;
			color: $white;
		}
		div.players div.question-box
		{
			max-width: 60%;
			margin: 0.5em auto;
		}
	}
	section.question
	{
		@include box-sizing(border-box);
		width: 75%;
		float:left;
		padding: 10px;

		p 
		{
			padding: 1em 3.5em 1em 1em;
			margin-bottom: 1.2em;
			background: url('../images/questionFooterRed.png'), $white;
			background-repeat:no-repeat;
			background-position: 100% 0%;
		}

		#timer
		{
			height: 0.5em;
			border: 1px solid $white;
			display: block;
			padding: 2px;
			margin-bottom: 1.2em;
			@include box-shadow(black 2px 2px 10px);
			span
			{
				background: $white;
				margin: 0px;
				width: 100%;
				@include transition-property(width);
				@include transition-timing-function(linear);
				display: block;
				height: 100%;
			}
		}

		div.choices
		{
			div.question-box
			{
							
			}
		}
	}

	section.round
	{
		margin-top: 5em;
		float: left;
		width:75%;
		color: white;
		@include display-box;
		display: flex;
		.details
		{
			@include box-flex(1);
			padding: 0px 1em;
			text-align:right;
			h1
			{
				font-size: 1.2em;
				padding-bottom: 0.1em;
			}
			ul
			{
				font-weight:normal;
				font-size: 0.8em;
				li
				{
					padding: 0.1em 0em;
				}
			}
		}
		img
		{
			width: 6em;
			padding: 0em 1em;
			border-left: 1px solid rgba(255, 255, 255, 0.3);
		}
	}
	section#rank
	{
		@include box-sizing(border-box);
		width: 25%;
		float:left;
		padding:10px;
		.rank-player
		{
			@include display-box;
			margin-bottom: 0.5em;
			position:relative;
			@include transition-duration(1.2s);
			@include transition-property(top);
			width: 100%;
			.answer
			{				
				height: 1em;
				text-align: center;
				padding: 0.2em 0.5em;
				border-style: solid; 
				color: $white;
				@include box-shadow(black 2px 2px 10px);
				@include transition-duration(1s);
				@include transition-property(color,border-color);
				&.unknown
				{
					background-color: $grey
				}
				&.wrong
				{
					background-color: $red
				}
				&.correct
				{
					background-color: $green
				}
				&.hidden
				{
					display:none;
				}
			}
			.player-info
			{
				
				padding: 0.2em;
				background: $white;
				@include box-shadow(black 2px 2px 10px);
				@include box-flex(1);
				span
				{
					float: right;
					&.positive
					{
						color: $green;
					}
					&.negative
					{
						color: $red;
					}
				}
			}
		}
	}
}

@media screen and (min-width: 1300px) and (max-width: 1600px)
{
	body
	{
		font-size: 24pt
	}
} 

@media screen and (min-width: 1601px) and (max-width: 1900px)
{
	body
	{
		font-size: 27pt
	}
} 

@media screen and (min-width: 1901px)
{
	body
	{
		font-size: 30pt
	}
} 