html  
	include includes/head
	body
		include includes/header  
		form(action='/import/json', method='post', enctype='multipart/form-data')
			input(type='file', name='jsonfile')
			input(type='submit', value='Upload')