doctype html
html.no-js  
	include includes/head
	body
		include includes/header 
		article
			form#filter-questions.form-inline
				input(type="text", placeholder="Pregunta", name="question")
				select(name="category")
					option(value="all") Todas
					option(value="others") Otros
					option(value="sports") Deportes
				button.btn(type=submit) Buscar preguntas
			div#questions-loading(style="display:none")
				img(src="/images/loading.gif")
				span Cargando
			section#question-list
		script#question-list-template(type="text/template")
			<table class="table table-bordered">
			<thead>
			<th>Pregunta</th>
			<th class="hide-phone">Opción 1</th>
			<th class="hide-phone">Opción 2</th>
			<th class="hide-phone">Opción 3</th>
			<th class="hide-phone">Opción 4</th>
			<th class="hide-phone">Categoría</th>
			<th></th>
			</thead>
			<tbody></tbody>
		script#list-item-template(type="text/template")
			<td><%- question %></td>
			<td class="hide-phone <%= correct == "0" ? 'success' : '' %>"><%- choices[0] %></td>
			<td class="hide-phone <%= correct == "1" ? 'success' : '' %>"><%- choices[1] %></td>
			<td class="hide-phone <%= correct == "2" ? 'success' : '' %>"><%- choices[2] %></td>
			<td class="hide-phone <%= correct == "3" ? 'success' : '' %>"><%- choices[3] %></td>
			<td class="hide-phone"><%- category %></td>
			<td class="actions">
			<ul class="show-edit-buttons">
			<li class="edit-action"><a href="edit/<%- _id %>"<i class="icon icon-pencil"></i></a></li>
			<li class="delete-action" data-id="<%- _id %>"><i class="icon icon-trash"></i></li>
			</ul>
			<ul class="confirm-delete-buttons" style="display:none">
			<li class="confirm-delete-action" data-id="<%- _id %>">Eliminar</li>
			<li class="cancel-delete-action" data-id="<%- _id %>">Cancelar</li>
			</ul>
			</td>
		include includes/javascript