doctype html
html  
    include includes/head
    body
        include includes/header
        - if (saved)
            div.alert.alert-success Guardado!
        - if (error)
            div.alert.alert-error error
        section#edit-question 
            form#edit-question.form-horizontal(action="#{question._id !== undefined ? '/' + mode + '/' + question._id : '/' + mode}", method='post', enctype='multipart/form-data')
                div.control-group
                    label.control-label(for="question") Pregunta
                    div.controls
                        textarea(name="question", type="text") #{question.question}
                div.control-group
                    label.control-label(for="choice0") Opción 1
                    div.controls
                        input(name="choice0", type="text", value="#{question.choices[0]}") 
                div.control-group
                    label.control-label(for="choice1") Opción 2
                    div.controls
                        input(name="choice1", type="text", value="#{question.choices[1]}") 
                div.control-group
                    label.control-label(for="choice2") Opción 3
                    div.controls
                        input(name="choice2", type="text", value="#{question.choices[2]}") 
                div.control-group
                    label.control-label(for="choice3") Opción 4
                    div.controls
                        input(name="choice3", type="text", value="#{question.choices[3]}") 
                div.control-group
                    label.control-label(for="correct") Correcto
                    div.controls
                        select(name="correct")
                            option(value=0, selected=(question.correct === 0)) Opción 1
                            option(value=1, selected=(question.correct === 1)) Opción 2
                            option(value=2, selected=(question.correct === 2)) Opción 3
                            option(value=3, selected=(question.correct === 3)) Opción 4
                div.control-group
                    label.control-label(for="category") Categoría
                    div.controls
                        select(name="category")
                            option(value="others", selected=(question.category === "others")) Otros
                            option(value="sports", selected=(question.category === "sports")) Deportes
                button.btn.pull-right(type="submit") Enviar