head
	meta(charset='utf-8')
	meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
	title
	meta(name='description', content='')
	meta(name='viewport', content='width=device-width')
	link(href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css', rel='stylesheet')
	link(rel='stylesheet', href='/css/admin.css')